// New CSS
body{
  width: 100%;
}
#intro_section{
  display: flex;
  flex-direction: row;
  padding: 2.5%;
  background-color: aliceblue;
  align-items: center;
  width: auto;
  justify-content: space-between;
  height: 200px;
}
#intro-text{
  height: auto;
}
h1{
  font-family: cursive;
  color: #161B40;
  font-size: 2.5em;
}
#email{
  color: #161B40;
}

#personal_image{
  border-radius: 50%;
  border: 2px dotted burlywood;
  align-self: flex-end;
  width: 100%;
  max-width: max-content;
}


#education_section{
  display: block;
  width: auto;
}
h2{
  color: #161B40;
}

footer{
  display: flex;
  height: 40px;
  padding:  5px;
  background-color: turquoise;
}

footer>a{
  text-decoration: none;
  color: #161B40;
  align-self: center;
  justify-content: flex-start;
  width:20%;
}

#sm_links{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
a>img{
  align-self: center;
}